03_Aufgabenblatt_XSD/Aufgabe_3/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="order">
		<xs:complexType>
			<xs:all>
				<xs:element name="ps">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:element name="p" type="xs:string"/> 
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="qs" type="qsType"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="qsType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="20"/>
			<xs:maxInclusive value="25"/>
		</xs:restriction>
	</xs:simpleType>
 </xs:schema>